/* <<<<<< Color Variables Starts >>>>>> */

// General
$black: #141519;
$white: #ffffff;

// Brand Primary Colors
$blue-lighter: #e6f3fe;
$blue-light: #81c4fa;
$blue-main: #348fd8;
$blue-dark: #2e81c3;
$blue-darker: #226398;

// Grey
$grey-lightest: #919395;
$grey-light: #565b66;
$grey-main: #393e44;
$grey-dark: #2f343a;
$grey-darker: #24272c;

// White Text
$white-text-primary: #ffffff;
$white-text-secondary: #dde4eb;
$white-text-disabled: #6b7586;

// Black Text
$black-text-primary: #24272c;
$black-text-secondary: #66686b;
$black-text-disabled: #919395;

// Success Text
$success-lighter: #e9fcd4;
$success-light: #aaf27f;
$success-main: #54d62c;
$success-dark: #229a16;
$success-darker: #08660d;

// Warning Text
$warning-lighter: #fff7cd;
$warning-light: #ffe16a;
$warning-main: #ffc107;
$warning-dark: #b78103;
$warning-darker: #7a4f01;

// Error Text
$error-lighter: #ffe7d9;
$error-light: #ffa48d;
$error-main: #ff4842;
$error-dark: #b72136;
$error-darker: #7a0c2e;

// Desktop Font Sizes
$desktop-title-large: 4rem;
$desktop-title-medium: 3rem;
$desktop-title-small: 2.25rem;
$desktop-headline: 1.5rem;
$desktop-button: 1.5rem;
$desktop-body-large: 1.0625rem;
$desktop-body-medium: 0.9375rem;
$desktop-body-small: 0.8125rem;

// Desktop Line Heights
$desktop-title-large-line-height: 5.25rem;
$desktop-title-medium-line-height: 4rem;
$desktop-title-small-line-height: 2.875rem;
$desktop-headline-line-height: 2rem;
$desktop-button-line-height: 1.5rem;
$desktop-body-large-line-height: 1.875rem;
$desktop-body-medium-line-height: 1.875rem;
$desktop-body-small-line-height: 1.5rem;

// Mobile Font Sizes
$mobile-title-large: 2rem;
$mobile-title-medium: 1.5rem;
$mobile-title-small: 1.125rem;
$mobile-headline: 0.9375rem;
$mobile-button: 0.75rem;
$mobile-body-large: 0.75rem;
$mobile-body-medium: 0.6875rem;
$mobile-body-small: 0.65rem;

// Mobile Line Height
$mobile-title-large-line-height: 2.625rem;
$mobile-title-medium-line-height: 2rem;
$mobile-title-small-line-height: 1.5rem;
$mobile-headline-line-height: 1.25rem;
$mobile-button-line-height: 1.25rem;
$mobile-body-large-line-height: 1.25rem;
$mobile-body-medium-line-height: 1.25rem;
$mobile-body-small-line-height: 1rem;

// Font Family
$lexend-deca: "Lexend Deca", sans-serif;
$space-grotesk: "Space Grotesk", sans-serif;

// Responsive sizes
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
