@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "./design-systems.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font: 400 $desktop-title-large var(--space_grotesk);
}

#mobilenum {
  background: transparent;
}

#mobilenum:focus {
  outline: none;
}

.PhoneInputCountry {
  color: black;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff !important;
  padding: 0.75rem !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:focus {
  outline: none !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.5rem !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input:focus {
  outline: none !important;
  border: none !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #fff !important;
}
